.navbar {
  text-align: center;
  background-color: #FF6600;
  padding: 0;
  margin: 0;
  color: white;
  height: 80px;
  line-height: 80px;
  font-size: 3em;
}

body {
  font-family: 'Nixie One';
}

.student-link {
  color: white;
}

.student-link:hover {
  text-decoration: none;
  color: white;
}

.well.answer {
  background: white;
}

.ticket-name {
  margin-top: 2em;
  margin-bottom: 1em;
}

.stats {
  text-align: center;
  font-size: 1.5em;
}

.stats-link:hover {
  text-decoration: none;
}

.stats-header {
  margin-top: .5em;
  text-align: center;
  color: gray;
  font-size: 3.5em;
}

.total-tickets,
.closed-tickets {
  font-size: 2em;
  margin-top: 1em;
  color: gray;
}
#statistics {
  text-align: center;
}
