<div class="navbar">
  {{#link-to 'index' class="student-link"}}Queue{{/link-to}}
</div>
<div class="list-group">
  {{#each model as |ticket|}}
    {{view-ticket ticket=ticket closeTicket='closeTicket'}}
  {{/each}}
</div>
<div class="stats">
  {{#link-to 'stats' class="stats-link"}}View Today's Statistics{{/link-to}}
</div>
